flask==3.1.1
flask-jwt-extended==4.7.1
flask-limiter==3.12
requests==2.32.3
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
numpy==2.2.6
pydantic==2.11.5
python-dotenv==1.1.0
uvicorn==0.34.3
fastapi==0.115.12
transformers==4.52.4
